# Exclude everything in the root by default
/*

# But allow these folders and files
!/backend/
!/frontend/
!/.gitignore
!/.github/
!/render.yaml
!/Dockerfile

# Standard ignores for subfolders
node_modules/
vendor/
.env
.env.*
.vscode/
.claude/
.kiro/
backend/storage/
backend/dist/
frontend/dist/
*.exe
*.sqlite
